<section>
    <section>
        <h2>Typy pozycjonowania dokumentu</h2>
        <ul class="fragment">
            <li>
                Domyślny
            </li>
            <li>
                Wyrównania
            </li>
            <li>
                Pozycjonowanie absolutne
            </li>
        </ul>
        <ul class="fragment">
            <li>display</li>
            <li>float</li>
            <li>position</li>
        </ul>
        <aside class="notes">
            Całe pozycjonowanie dokumentu można porównać do Worda. Czyli intuicyjnie tekst pisany jest z lewej do
            prawej, gdy linia się skończy przechodzi do nowej. Wstawienie obrazka lub tabelki powoduje że tekst
            pisany może być pod lub nad. Możemy także ustawić na obrazku wyrównanie gdzie tekst będzie opływał
            obiekt (float). I ostatnia opcja czyli obiekt inteligentny który możemy ustawić gdzie chcemy (position).
            Może on zakrywać nasz tekst lub zasłaniać go.

            Krótkie wprowadzenie do styli. Każdy tag posiada własności opisujące
            jego wygląd. Własności te nazywane są stylami. Każdy tag posiada podstawowe
            własności które można nadpisać.

            Właściwościami odpowiedzialnymi za układ tagów są...

            Dwa pierwsze są ze sobą powiązane i w praktyce używane są wspólnie.
        </aside>
    </section>
    <section>
        <h2>Domyślny przepływ dokumentu</h2>

        <h3>Display</h3>
        <ul>
            <li>block</li>
            <li>inline</li>
            <li>inline-block</li>
            <li>none</li>
            <li>inherit</li>
            <li>list-item</li>
            <li>table</li>
            <li>inline-table</li>
        </ul>
        <aside class="notes">
            Opiera się na własności `display`. Pozostałe dwie są nie ustawione.
            Dla większości tagów własność `display` ustawiona jest na `block`.
        </aside>
    </section>
    <section>
        <h2>display: block</h2>

        <div class="code-compare">
            {% include code/flow.html %}
            <iframe src="iframes/block.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Poprzedni przykład bazował wyłącznie na elementach typu block.
            Po usunięciu własności odpowiedzialnych za wielkość boxu widzimy
            że tagi zajmują całą długość oraz układają się jeden pod drugim.
            Ich wielkość natomiast związana jest z zawartością.
        </aside>
    </section>
    <section>
        <h2>Własności display: block</h2>
        <ul>
            <li>szerokość równa szerokości rodzica,</li>
            <li>wysokość w zależności od zawartości,</li>
            <li>boxy renderowane zawsze pod sobą,</li>
            <li>białe znaki pomiędzy tagami nie są widoczne,</li>
            <li>wysokość jak i szerokość może zostać zmieniona.</li>
        </ul>
    </section>
    <section>
        <h2>display: inline</h2>

        <div class="code-compare">
            {% include code/inline.html %}
            <iframe src="iframes/inline.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Wartość ta opisuje liniowe tagi. Tak naprawdę jest to wartość przypisana do tekstu i zachowuje się tak
            jak tekst w każdym edytorze. Po osiągnięciu końca lini tekst przechodzi do nowej. Ma on swoją interlinię
            a wielkość jaką zajmuje okraeśla ilość i wielkoćś tekstu.
        </aside>
    </section>
    <section>
        <h2>Własności display: inline</h2>
        <ul>
            <li>szerokość w zależności od zawartości,</li>
            <li>wysokość w zależności od zawartości,</li>
            <li>boxy renderowane od lewej do prawej,</li>
            <li>białe znaki pomiędzy tagami są widoczne,</li>
            <li>wysokość jak i szerokość <strong class="fragment highlight-red">nie</strong> może zostać zmieniona.</li>
        </ul>
    </section>
    <section>
        <h2>display: inline-block</h2>

        <div class="code-compare">
            {% include code/inline-block.html %}
            <iframe src="iframes/inline-block.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Połącznie własności inline oraz block. Jest to element liniowy któremu można nadać wysokość i szerokość.
            Dzięki takim właściwością możemy tworzyć bloki które będą renderowane od lewej do prawej a jak nie starczy
            im miejsca w jednej lini to "spadną" do drugiej.
        </aside>
    </section>
    <section>
        <h2>Własności display: inline-block</h2>
        <ul>
            <li>szerokość w zależności od zawartości,</li>
            <li>wysokość w zależności od zawartości,</li>
            <li>boxy renderowane od lewej do prawej,</li>
            <li>białe znaki pomiędzy tagami są widoczne,</li>
            <li>wysokość jak i szerokość może zostać zmieniona.</li>
        </ul>
    </section>
    <section>
        <h2>Wyrównania</h2>

        <h3>Float &amp; clear</h3>
        <ul>
            <li>left</li>
            <li>right</li>
            <li>none</li>
            <li>inherit</li>
            <li class="fragment">both</li>
        </ul>
        <aside class="notes">
            Styl ten możemy w uproszczeniu prównać do wyrównania w wordzie. Jest to jeden z najtrudniejszych do
            zrozumienia styli ponieważ wyciąga element z przepływu dokumentu i oddziaływuje tylko z liniowymi tagami.
            Na nasze nieszczęście jest on najdzęściej używany. Dodatkowo ustawienie float skutkuje zmianą display na
            block.
        </aside>
    </section>
    <section>
        <h2>float</h2>

        <div class="code-compare">
            {% include code/bad_float.html %}
            <iframe src="iframes/bad_float.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Jest to jeden z podstawowych błędów popełnianych przez webdeweloperów. Brak wyczyszczenia floata skutkuje
            dosyć nienaturalnym zachowaniem. Jak wspominiałem wcześniej float wyciąga naszego boxa z domyślnego
            przepływu dzięki czemu nasz obrazek staje się blokiem. Jednak wyciągnięcie z przepływu dokumentu skutkuje
            tym że nie jest on wliczany do wyliczania wielkości boxa rodzica, dlatego obrazek nachodzi na naszą stopkę.
            Drugie nieprzewidziane zachowanie to oddziaływanie jedynie z liniowymi tagami oraz z innymi floatami.

            Blok stopki w ogóle nie wchodzi w interakcję z floatowanym obiektem jedynie tekst wewnątrz który jest inline
            został przesunięty właśnie przez obrazek.
        </aside>
    </section>
    <section>
        <h2>clear</h2>

        <div class="code-compare">
            {% include code/float.html %}
            <iframe src="iframes/float.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Gdy wyrównujemy obrazek do lewej tekst opływa go z prawej strony i vice versa.
            Nie możemy zapomnieć o powrocie do zwykłego przepływu dokumentu. Nie chcemy aby nasza liniowa zawartość
            bloku footer także opływała obrazek.
        </aside>
    </section>
    <section>
        <h2>Interakcja między floatami</h2>

        <div class="code-compare">
            {% include code/interaction_float.html %}
            <iframe src="iframes/interaction_float.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
        </aside>
    </section>
    <section>
        <h2>Najczęściej spotykane użycie</h2>

        <div class="code-compare">
            {% include code/common_float.html %}
            <iframe src="iframes/common_float.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            Jako że styl inline-block działa bez bugów dopiero w IE8 większość deweloperów używa floatow to tworzenia
            layautów. Wszystkie najbardziej znane frameworki css też ich używają w swoich gridach. Niewątpliwym
            plusem floatów jest ich blokowa natura, dziękiczemu nie wyświetlane są między nimi białe znaki które
            potrafią niszczyć wygląd strony. Niestety zawsze musimy pamiętać o powrocie do normalnego przepływu
            co niejednolrotnie kończy się pustym tagiem z clearem.
        </aside>
    </section>
    <section>
        <h2>Pozycjonowanie absolutne</h2>

        <h3>Position &amp; top, right, bottom, left &amp; z-index</h3>
        <ul>
            <li>static</li>
            <li>relative</li>
            <li>absolute</li>
            <li>fixed</li>
            <li>inherit</li>
        </ul>
        <aside class="notes">
            <ul>
                <li>Pozycjowanie absolutne wymaga użycia 3 styli.</li>
                <li>Dwa z nich wyciągają boxy z przepływu dokumentu fixed, absolute</li>
                <li>Przy użyciu tych styli możemy ustawić nasz box w dowolnym miejscu na stronie podsjąc odpowiednie
                koordynaty</li>
                <li>Wartość auto ustawiana jest dla top, right, left, bottom.</li>
            </ul>
        </aside>
    </section>
    <section>
        <h2>position: fixed</h2>

        <div class="code-compare">
            {% include code/fixedlt.html %}
            <iframe src="iframes/fixedlt.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            W tym przykładzie nadaliśmy naszym obrazkom position fixed. jak widać wyjęte one zostaly z przepływu
            dokumentu, nie wliczają się do wielkości rodzica. Jak widzimy nasze obrazki zostały ustawione
            dokładnie w definiowanych punktach. Widzmy na przykładzie także jak działa sama wartość fixed. Nasze obrazki
            pozycjonują się względem okna przeglądarki.
        </aside>
    </section>
    <section>
        <h2>Własności position: fixed</h2>
        <ul>
            <li>wyciąga element z przepływu dokumentu,</li>
            <li>zmienia display na block,</li>
            <li>zmienia float na none,</li>
            <li>element pozycjonuje się względem okna przeglądarki.</li>
        </ul>
    </section>
    <section>
        <h2>position: relative</h2>

        <div class="code-compare">
            {% include code/relative.html %}
            <iframe src="iframes/relative.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            W tym przykładzie nadaliśmy naszym obrazkom position fixed. jak widać wyjęte one zostaly z przepływu
            dokumentu, nie wliczają się do wielkości rodzica. Widzimy w tym przykładzie jak działa wartość auto
            dla styli l,r,b,t. Boxy zostały wyrenderowane w tych samych miejscach gdzie znajdowały by się bez
            position relative,
        </aside>
    </section>
    <section>
        <h2>Własności position: relative</h2>
        <ul>
            <li>nie wyciąga elementu z przepływu dokumentu,</li>
            <li>nie zmienia display,</li>
            <li>nie zmienia float,</li>
            <li>element pozycjonuje się względem samego siebie,</li>
            <li class="fragment">elementy absolute pozycjonują się względem niego.</li>
        </ul>
    </section>
    <section>
        <h2>position: absolute</h2>

        <div class="code-compare">
            {% include code/absolute.html %}
            <iframe src="iframes/absolute.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            W tym przykładzie zmieniliśmy domyślną wartość l, r, t, b. Jak widzimy nasze obrazki zostały ustawione
            dokładnie w definiowanych punktach. Widzmy na przykładzie także jak działa sama wartość fixed. Nasze obrazki
            pozycjonują się względem okna przeglądarki.
        </aside>
    </section>
    <section>
        <h2>position: absolute</h2>
        <h3>Najczęste użycie</h3>
        <div class="code-compare">
            {% include code/common_absolute.html %}
            <iframe src="iframes/common_absolute.html" scrolling="no" class="fragment"></iframe>
        </div>
        <aside class="notes">
            W tym przykładzie zmieniliśmy domyślną wartość l, r, t, b. Jak widzimy nasze obrazki zostały ustawione
            dokładnie w definiowanych punktach. Widzmy na przykładzie także jak działa sama wartość fixed. Nasze obrazki
            pozycjonują się względem okna przeglądarki.
        </aside>
    </section>
    <section>
        <h2>Własności position: absolute</h2>
        <ul>
            <li>wyciąga element z przepływu dokumentu,</li>
            <li>zmienia display na block,</li>
            <li>zmienia float na none,</li>
            <li>element pozycjonuje się względem najbliższego rodzica ze stylem position: relative.</li>
        </ul>
    </section>
    <section>
        <h2>z-index</h2>

        <div class="code-compare">
            {% include code/z-index.html %}
            <iframe src="iframes/z-index.html" scrolling="no" class="fragment"></iframe>
        </div>
    </section>
</section>
