<section>
    <section>
        <h2>HTML</h2>
        {% include code/base.html %}
        <aside class="notes">
            <ol>
                <li>
                    Omówienie podstawowych elementów html,
                </li>
                <li>
                    pokazanie jak tagi się zamykaja otwierają,
                </li>
                <li>
                    pokazanie wymaganych tagów,
                </li>
                <li>
                    porównanie struktury drzewiastej do folderów.
                </li>
            </ol>
        </aside>
    </section>
    <section>
        <h2>Domyslny przepływ dokumentu</h2>
        <div class="code-compare">
            {% include code/flow.html %}
            <iframe src="iframes/3d.html" class="fragment" scrolling="no"></iframe>
        </div>
        <aside class="notes">
            <ol>
                <li>
                    Wprowadzenie nazwy "box" jako reprezentacji graficznej tagu,
                </li>
                <li>
                    porównanie boxów do warstw w PS,
                </li>
                <li>
                    wstępne omówienie zachowania display block
                </li>
                <li>
                    omówienie standardoewgo przepływu dokumentu.
                </li>
            </ol>
        </aside>
    </section>
    <section>
        <h2>Nie do końca 2D</h2>
        <img src="img/3d.png" />
        <aside class="notes">
            Rozwinięcie myśli o warstwach
        </aside>
    </section>
</section>
