<section>
    <section>
        <h2>HTML</h2>
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Base HTML5 structure&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        Hello world!
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
        <aside class="notes">
            <ol>
                <li>
                    Omówienie podstawowych elementów html,
                </li>
                <li>
                    pokazanie jak tagi się zamykaja otwierają,
                </li>
                <li>
                    pokazanie wymaganych tagów,
                </li>
                <li>
                    porównanie struktury drzewiastej do folderów.
                </li>
            </ol>
        </aside>
    </section>
    <section>
        <h2>Domyslny przepływ dokumentu</h2>
        <div class="code-compare">
            <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Base HTML5 structure&lt;/title&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;css/3d.css&quot; /&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;
            header
        &lt;/header&gt;
        &lt;article&gt;
            article
            &lt;section&gt;
                section
                &lt;p&gt;paragraph&lt;/p&gt;
            &lt;/section&gt;
        &lt;/article&gt;
        &lt;footer&gt;
            footer
        &lt;/footer&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
            <iframe src="iframes/3d.html" class="fragment" scrolling="no"></iframe>
        </div>
        <aside class="notes">
            <ol>
                <li>
                    Wprowadzenie nazwy "box" jako reprezentacji graficznej tagu,
                </li>
                <li>
                    porównanie boxów do warstw w PS,
                </li>
                <li>
                    wstępne omówienie zachowania display block
                </li>
                <li>
                    omówienie standardoewgo przepływu dokumentu.
                </li>
            </ol>
        </aside>
    </section>
    <section>
        <h2>Nie do końca 2D</h2>
        <img src="img/3d.png" />
        <aside class="notes">
            Rozwinięcie myśli o warstwach
        </aside>
    </section>
</section>
