* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
}

nav>ul {
    position: relative;
}

nav>ul>li {
    display: inline-block;
    position: relative;
}

nav>ul>li>ul {
    position: absolute;
    left: -1px;
    top: 2em;
}

li {
    border: 1px solid #fff;
    line-height: 2em;
    font-size: 1.5em;
    padding: 0 0.5em;
    list-style: none;
    background: #aaa;
}