* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
}

article, footer {
    padding: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
}
