* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
}

article {
    padding: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.8em;
    color: #fff;
}
