{% highlight html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/float.css" />
    </head>
    <body>
        <article>
            <p>
                <img src="../img/html5.png" style="float: left" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia iaculis semper.
                ...
                sagittis nec orci. Mauris massa diam, congue eu tincidunt eget, dignissim at justo.
                <img src="../img/html5.png" style="float: right" />
                Suspendisse tempor orci eget elementum dapibus. Phasellus at ornare augue.
            </p>
        </article>
        <footer style="clear: right">
            Lorem ipsum dolor sit amet ...
        </footer>
    </body>
</html>
{% endhighlight html %}
