{% highlight html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/absolute.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li>Item</li>
                <li>
                    Item2
                    <ul>
                        <li>SubItem</li>
                        <li>SubItem2</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia iaculis semper.
                Proin vehicula venenatis lacus, eu vulputate enim consequat vitae.
                Donec venenatis malesuada ipsum id lacinia. Sed vel egestas risus. Nunc vel mattis diam.
            </p>
        </article>
    </body>
</html>
{% endhighlight %}