{% highlight html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/base.css" />
    </head>
    <body>
        <header>
            header
        </header>
        <article style="float: left; width: 50%">
            article
        </article>
        <aside style="float: left; width: 50%">aside</aside>
        <aside style="float: left; width: 70%">aside</aside>
        <footer style="clear:left">
            footer
        </footer>
    </body>
</html>
{% endhighlight html %}
