{% highlight html %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/3d.css" />
    </head>
    <body>
        <header>
            header
        </header>
        <article>
            article
            <section>
                section
                <p>paragraph</p>
            </section>
        </article>
        <footer>
            footer
        </footer>
    </body>
</html>
{% endhighlight %}
