{% highlight html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/float.css" />
    </head>
    <body>
        <article>
            <p style="background: #fff">
                <img src="../img/html5.png" style="float: left" />
                <img src="../img/html5.png" style="float: left" />
                <img src="../img/html5.png" style="float: left" />
                <img src="../img/html5.png" style="float: left" />
                <img src="../img/html5.png" style="float: left" />
            </p>
        </article>
        <footer style="clear: left">
            Lorem ipsum dolor sit amet ...
        </footer>
    </body>
</html>

{% endhighlight html %}
