{% highlight html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base HTML5 structure</title>
        <link rel="stylesheet" href="css/float.css" />
    </head>
    <body>
        <article>
            <p style="position: relative">
                <img src="../img/html5.png"
                     style="position: absolute; left: 0; top: 0; z-index: 1">
                <img src="../img/html5.png"
                     style="position: absolute; left: 128px; top: 0">
                <img src="../img/html5.png"
                     style="position: absolute; left: 0; top: 128px">
                <img src="../img/html5.png"
                     style="position: absolute; left: 128px; top: 128px; z-index: 1">
                <img src="../img/html5.png"
                     style="position: absolute; left: 64px; top: 64px">
            </p>
        </article>
    </body>
</html>
{% endhighlight html %}
